@charset "UTF-8"

;body{
    background-image: linear-gradient(to bottom,#00E3ED,#0099ED);
}
main{
    background-color: white;
    padding: 10px;
    margin: auto;
    min-width: none;
    max-width: 800px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.308);
}
header{
    background-image:linear-gradient(to bottom, #00ED06,#02a73e);
    margin: -10px -7px 0px -7px;
    padding: 5px;
    text-align: center;
}
h1{
    color: white;
    font-size: 45pt;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.438);
}
nav>a{
      padding: 3px;
      font-size: 20pt;
}
h2{
    font-size: 25pt;
    text-shadow: 1px 1px 2px #00bb06c7;
    color: #029437 ;
    background-image: linear-gradient(to right, #00ed0893, rgba(157, 214, 157, 0) );
    padding: 3px;
    border-radius: 5px;
}
h3{
    font-size: 18pt;
    text-shadow: 1px 1px 2px black;
    background-color: white;
    box-shadow: 2px 2px 1px black;
}
h4{
    color:white;
    font-size: 14pt;
    text-align: center;
    background-color: red;
    border-radius: 5px;
    padding: 1px;
}
p{
    font-size: 16pt;
    text-indent: 15px;
    text-align: justify;
}
img{
    display: flex;
    justify-content: center;
    margin: auto;
}
footer{
    background-color:#02a73e;
    margin-bottom: -40px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
}
a{
   color: white;
   text-decoration: none;
}
a:hover{
    background-color:black;
    border-radius: 3px;
    padding: 2px;
    color: white;
    text-decoration: underline;
}